{% block fos_user_content %}
    {% include "::header.html.twig" %}
    {# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}

    {% block body %}

        {% for blog in blogs %}
            <<article class="blog">
            <header>
                <div class="date"><time datetime="{{ blog.created|date('b') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
                <h2>{{ blog.title }}</h2>
            </header>
            <img src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />
            <div>
                <p>{{ blog.blog }}</p>
            </div>
        </article>

            <section class="comments" id="comments">
                <section class="previous-comments">
                    <h3>Comments</h3>
                    {% include 'BloggerBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
                </section>

                <h3>Add Comment</h3>
                {% render url('BloggerBlogBundle_comment_new', { 'blog_id': blog.id }) %}
            </section>

        {% else %}
            <p>Pas d'article avec cet id</p>
        {% endfor %}
    {% endblock %}
    {% include "::footer.html.twig" %}
{% endblock fos_user_content %}